
<div class="ui small inverted fixed menu">
    <div class="item">
        <a href="/"><div class=""><h2>Tripbook</h2></div></a>
        </div>
    <a href="/trips" class="item">
        Explore Trips
    </a>
    <a href="/trips" class="item">
        Your Trips
    </a>
    <a href="/chat" class="item">
        Chat
    </a>
    <div class="ui category search item">
            <div class="ui icon input">
              <input class="prompt" style="border-radius: 7px;" type="text" placeholder="Search trips...">
              <i class="search link icon"></i>
            </div>
            <div class="results"></div>
          </div>

    <div class="right menu">
        <div class="ui simple dropdown item">
        <img class="ui avatar image" src="/images/woman-travel.png">
        Hi {{user.firstName}}! <i class="dropdown icon"></i>
            <div class="menu inverted">
                <a class="item">My Account</a>
            </div>
        </div>

        <div class="item">
            <a href="/login"><div class="ui button">Login</div></a>
        </div>
        <div class="item">
            <a href="/register"><div class="ui teal button">Sign Up</div></a>
        </div>
    </div>
</div>
